/* This style sheet contributes to the navigator and 
main frame of the management system pages
 */

body {
    margin: 0px;
    background-color: rgba(40, 40, 40, 1);
    background-image: none;
    position: relative;
    left: -0px;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

a {
	color: #fff;
	#text-decoration:none;
}

p {
	margin: 0px auto;
}

.fixed {
	position: fixed;
    left: 0px;
    top: 0px;
    width: 225px;
    float:left;
    z-index: -1;
}

.main {
	float:left;
	width: 980px;
	margin-left: 5px;
}

.dynamic_panel {
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: normal;
}

.panel_content {
	position: absolute;
    left: 0px;
    top: 0px;
}

span {
	float: left;
	margin: 0px auto;
	padding: 0px;
}

.tab_item_text  > span {
	text-align: center;
} 

.navigator_item {
    width: 80px;
    height: 80px;
    font-family: 'FontAwesome';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #999999;
    clear:both;
}

.navigator_item_icon {
	top:30px;
	left:30px;
	position:relative;
	color: #fff;
}

.navigator_item:hover{
	background-color: #1c8eda;
}

#icon_navigator {
	width: 80px; 
	height: 100%;
	background-color:#131313;
	position:fixed;
	left:0px;
	top:0px;
}

#text_navigator {
	float:left;
	width: 145px; 
	height: 295px;
}

.text_navigator_item {
	cursor:pointer;
	height:80px;
}

.text_navigator_item_content{
	padding-top:30px;
	padding-bottom:30px;
}

.text_navigator_item_text{
	height:20px;
	margin:0px;
	color:white;
	font-size:11px;
}

#main_banner {
	float: left;
	width: 980px;
	height: 80px;
	padding-left: 3px;
	margin-left:150px;
}

.banner_text {
	clear: both;
	font-family: 'Helvetica Light', 'Helvetica';
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    width: 490px;
    height: 80px;
    float: left;
}

#search_bar {
	float: right;
    width: 480px;
    height: 80px;
    font-family: 'FontAwesome';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #999999;
    text-align: right;
}

#search_bar.highlight {
	background-image: url("../images/searchbar.png");
}

#key_search {
	float: left;
	width: 400px;
    height: 40px;
    background-color: transparent;
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: left;
    border-color: transparent;
    outline-style: none;
}

#main_tab {
	width: 980px;
	height: 50px;
	clear: both;
	padding-left: 150px;
}

.tab_item{
	float: left;
	height: 50px;
	width: 100px;
	color: rgb(124, 124, 124); 
	opacity: 1;
}

.tab_item.selected{
	color: rgb(204, 204, 204); 
	background-image: url("../images/tab_item_selected.png");
}

.tab_item_text{
	padding-top:15px;
	margin: 0px auto;
	font-family: 'Open Sans Regular', 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-align: center;
    line-height: normal;
}

.tab_item_text:hover {
	 text-decoration: underline;
	 cursor: hand;
	 cursor: pointer;
}

.main_section {
	float: left;
	width: 980px;
	height: 665px;
	padding-left: 3px;
	margin-top: 30px;
	margin-left: 150px;
}

.table_header_column {
	padding-top: 24px;
}

.ap_list_selector_icon {
    width: 50px;
    height: 50px;
    opacity: 0.75;
    font-family: 'Open Sans Light', 'Open Sans';
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    float: right;
    margin: 5px;
    text-align: center;
}

.icon_text {
	padding-top: 18px ;
	padding-left: 22px;
}

.ap_list_selector_icon.green {
	background-image: url(../images/green_ring.png);
}

.ap_list_selector_icon.yellow {
	background-image: url(../images/yellow_ring.png);
}

.ap_list_selector_icon.red {
	background-image: url(../images/red_ring.png);
}

.ap_list_selector_icon.grey {
	background-image: url(../images/grey_ring.png);
}

.ap_list_selector_icon p {
	cursor: pointer;
}

#horizontal_line {
	clear: both;
    width: 980px;
    height: 2px;
    background-image: url(../images/seperator_line.png);
    margin-bottom: 3px;
}

#table_header {
	clear: both;
	height: 50px;
}

.table_header_title {
	float: left;
    font-family: 'Open Sans Light', 'Open Sans';
    font-weight: 200;
    font-style: normal;
    font-size: 12px;
    color: #999999;
    text-align: left;
}

p.padding {
	padding-top: 12px;
}

.table_content_list {
	clear:both;
	margin: 0px auto;
	width: 980px;
}

.table_record {
	height: 30px;
	font-family: 'Open Sans Regular', 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #999999;
    text-align: left;
    color: #ccc;
}

.table_record.high{
	height: 40px;
}

.table_record:hover {
	background-color: #555;
}

.table_record_section {
	padding-top: 0px;
	float:left;
	background-repeat: no-repeat;
	background-position: 11px 11px; 	
	color: #999999;
}

.table_record_section.highlight {
	color: white;	
}

	
.table_record_section.red {
	height: 30px;
	background-image: url("../images/status_red.png");
}

.table_record_section.green {
	height: 30px;
	background-image: url("../images/status_green.png");
}

.table_record_section.yellow {
	height: 30px;
	background-image: url("../images/status_yellow.png");
}

.table_record_section.grey {
	height: 30px;
	background-image: url("../images/status_grey.png");
}

.table_record_section > p{
	margin: 0px auto;
	padding-top: 8px;
}

.table_record_section > img {
	padding-top: 11px;
}

#blank_map {
	background-image: url("../images/us-map-blank.png");
	background-repeat: no-repeat;
	background-position: 100px 100px;
}

.ccircle{
	opacity: 0.8;
}

.inner-circle {
	font-family: "sans-serif";
	font-size: "20px";
}

.metrics_bar {
	height:140px;
	width:1140px;
	margin-left:80px;
	margin-top: 30px;
}

.ring {
	fill: green;
    opacity: 0.5;
}

.wrapper {
	width:940px;
	height:140px;
	position:relative;
	float:left;
	overflow:hidden;
}

.slider {
	height:100%;
	position:absolute;
}

.metrics_nav{
	float:left;
	height:140px;
	width:90px;
	background-image:  url("../images/transparent.gif");
}

.metrics_nav_content {
	margin-top: 45px;
	margin-left: 40px;
	height: 20px;
	width: 20px;	
}

.fa-angle-left {
	color: green;
}

.fa-angle-right {
	color: green;
}

.metrics_content_entry {
	width: 180px;
	height: 140px;
	float:left;
}

.metrics_widget_circle {
	width: 180px;
	height: 110px;
	padding-top: 10px;
	padding-left: 40px;
}

.metrics_widget_note {
	width: 180px;
	height: 30px;
	text-align: center;
	font-size: 12px;	
	color: white;
	padding-top: 10px;
	font-family: 'Open Sans Light', 'Open Sans';
    font-weight: 200;
    font-style: normal;	
}

.metrics_widget_text {
	width: 180px;
	height: 110px;
	padding-top: 30px;
	text-align:center;
	font-family: 'Open Sans Light', 'Open Sans';
	font-weight: 200;
	font-style: normal;
	font-size: 48px;
	color: #CCCCCC;
}

.metrics_padding {
	width:10px;
	height:120px;
	float:left;
	padding-top:30px;
}

/*
Here is for the login page 
*/
#login_title {
	margin: 0px auto;
	clear:both;
	width: 380px;
	height: 53px;
	background-image: url("../images/logo_login.png");
	background-size: 380px 53px;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

#login_main {
  position: fixed;
  top: 35%;
  left: 35%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 200px;
  /*border: 1px red solid;*/
}

.input_bg {
	clear: both;
	width: 380px;
	height: 40px;
	background-image: url("../images/input_white_bg.png");
	margin-bottom:10px;
}

.submit_bg {
	clear:both;
	width: 180px;
	height: 40px;
	background-image:  url("../images/submit_bg.png");
	float: right;
}

.error_bg {
	position: fixed;
	top: 103px;
	left: 380px;
	width: 240px;
	height: 90px;
	background-image:  url("../images/error_login.png");
}

#info_dialog {
	width: 580px;
	height: 300px;
	background-image:  url("../images/dialog_bg.png");
	display: none;
	position: absolute;
	z-index: 100;
}

#chart_dialog {
	width: 980px;
	height: 500px;
	background-image:  url("../images/metrics_bg.png");
	display: none;
	position: absolute;
	z-index: 100;
}

.error_txt {
	width: 158px;
  height: 34px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #FFFFFF;
  padding-top: 28px;
  padding-left: 32px;
  text-align: center;	
}

.input_login {
  width: 270px;
  height: 40px;
  background-color: transparent;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-decoration: none;
  color: #000000;
  text-align: left;
  border-color: transparent;
  outline-style: none;
}

.input_link {
	height: 40px;
	float: right;
  background-color: transparent;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-decoration: none;
  color: #0000ff;
  text-align: right;
  border-color: transparent;
  outline-style: none;
  padding-top: 12px;
}

.submit_txt {
  width: 180px;
  height: 40px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #CCCCCC;
  padding-top: 12px;
  text-align: center;	
}

.dialog_title {
	padding-top: 50px;
	/*padding-left: 30px;*/
	height: 60px;
	font-family: 'Open Sans Regular', 'Open Sans';
  font-weight: 200;
  font-style: normal;
  font-size: 18px;
  color: #333333;
  margin: auto;
  text-align:center;
}

.dialog_content {
	padding-top: 10px;
	padding-left: 60px;
	padding-right: 60px;
	height: 100px;
	font-family: 'Open Sans Regular', 'Open Sans';
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
  color: #333333;
  text-align: center;
}

#winmask {
	width:100%;
	z-index:999;
	position:absolute;
	background:#000;
	top:0;
	left:0;
	opacity:0.6;
	filter:alpha(opacity=60)
} 

a {
	color:#1BA1E1;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/*
Here is for the chart dialog
*/
#date_tool {
	margin: 0px auto;
	padding-top: 5px;
	height: 30px;
	width: 780px;
	font-size: 12px;
}

#chart_dialog_title {
	padding-top: 50px;
	padding-left: 100px;
	/*padding-left: 30px;*/
	height: 60px;
	font-family: 'Open Sans Regular', 'Open Sans';
  font-weight: 200;
  font-style: normal;
  font-size: 18px;
  color: #FFFFFF;
  margin: auto;
  text-align:left;
}

#chart_scale {
	margin: 0px auto;
	padding-top: 5px;
	height: 30px;
	width: 780px;
	color: #666666;
	font-family: 'Helvetica';
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-align: left;
}

#chart_area {
	margin: 0px auto;
	width: 780px;
	height: 240px;
}

.ui-widget { 
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; 
	font-size: 0.8em;
}

#ui-datepicker-div { font-size: 12px; } 

/*
*Here is for the network resource tree
*/
.tree_column {
	width:200px;
	height:100%;
	float:left;
	font-family: OpenSans-Light, 'Open Sans Light', 'Open Sans';
	font-weight: 200;
	font-style: normal;
	font-size: 12px;
	text-decoration: none;
	color: rgb(204, 204, 204);	
}

.tree_icon {
  color: rgb(204, 204, 204); 
  float: left;
  margin-left: 5px;
}

.tree_column_header {
	width: 200px;
	height: 50px;
}

.tree_horizon_line {
	width:203px;
	height: 3px;
	background-image: url("../images/folder_horizon_separator.png")
}

.tree_column_node {
	width: 200px;
	height: 50px;
  padding-top: 17px;
  padding-left: 12px;
}

.tree_node_menu {
  width: 50px;
  padding-left: 17px;
  height: 50px;
  float:right;
  display: none;
}

.tree_column_node:hover{
  background-color: #1c8eda;
}

.tree_column_node.selected{
  background-color: #666;
}

.tree_vertical_line {
	width:3px;
	height: 805px;
	background-image: url("../images/folder_vertical_separator.png");
  float:left;
}

.tree_column_header_filter {
  padding-top: 17px;
  padding-left: 0px;
  width: 150px;
  height: 50px;
  float: left;
}

.tree_column_header_add {
  padding-top: 17px;
  padding-left: 15px;
  width: 50px;
  height: 50px;
  float: left;
}

.tree_column_header_txt {
  margin-right: 5px;
  color: rgb(204, 204, 204); 
  float: left;
  margin-left: 10px;
}

#tree_node_cmenu {
  width: 200px;
  height: 80px;
  background-color: #ddd;
  display: none;
}

.node_menu_item {
  width: 200px;
  height: 40px;
  font-size: 18px;
  color: black;
}

.node_menu_item:hover {
  background-color: #1c8eda;
}

.menu_item_text {
  padding-left: 20px;
  padding-top: 12px;
  background: inherit;
  font-family: 'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
  text-align: left;
}

#node_create_cmenu {
  background-color: #ddd;
  width: 200px;
  height: 280px;
  display: none;
}

.network_editor_area {
  width: 280px;
  height: 710px;
  float: right;
  background-color: #ccc;
}

.area_close_min {
  float:right;
  width:30px;
  height:30px;
  margin:0px auto;
  text-align:center;
  padding-top:5px;
}

.area_close_min:hover{
  background-color: #850002;
}

.form_title {
  clear: both;
  margin-bottom: 30px;
  margin-left: 20px;
  font-family: 'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  color: #333333;
}

.form_field_title{
  clear: both;
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight: 200;
  font-style: normal;
  font-size: 12px;
  text-decoration: none;
  color: #333333;
}

.form_field_input {
  margin-top: 10px;
  margin-left: 16px;
  width: 240px;
  height: 30px;
  font-family: 'FontAwesome', 'FontAwesome';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-align: right;  
}

.form_field_input_control {
  width: 236px;
  height: 30px;
  background-color: transparent;
  font-family: 'OpenSans', 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-decoration: none;
  color: #000000;
  background-color: white;
  text-align: left;
  border-color: transparent;
  outline-style: none;
  float: left;
}

.form_field_input_control.short {
  width: 210px;
}

.form_field_input_dropdown {
  float: left;
  height: 30px;
  width: 26px;
  padding-top: 5px;
  padding-left: 0px;
  background-color: transparent;
  background-color: white;
  color: black;
  font-size: 10px;
  text-align: center;
}

.form_field_select {
  width: 100px;
  height: 30px;
  font-size: 12px;
  text-align: left;
  float: left;
}

.form_action {
  position: absolute;
  bottom: 10px;
  left: 17px;
}

.form_action_cancel {
  float: left;
  width: 80px;
  height: 40px;
  font-size: 12px;
  padding-left: 20px;
  padding-top: 11px;
  background: inherit;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(51, 51, 51, 1);
  color: black;
  font-family: 'OpenSans', 'Open Sans';
}

.form_action_save {
  margin-left: 10px;
  float: left;
  padding-left: 26px;
  padding-top: 11px;
  width: 150px;
  height: 40px;
  background: inherit;
  background-color: rgba(51, 51, 51, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(51, 51, 51, 1);
  font-size: 12px;
  color: #FFFFFF;
  font-family: 'OpenSans', 'Open Sans';
}